@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap");
@-webkit-keyframes slidein {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0%;
  }
}
@keyframes slidein {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0%;
  }
}

@-webkit-keyframes slidein-2 {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slidein-2 {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

@-webkit-keyframes slideout-left {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}

@keyframes slideout-left {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.container .logo {
  padding: 0%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: calc(7rem / 2);
  left: calc(20rem / 2);
  overflow-x: hidden;
  z-index: 1500;
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .logo .logo_link {
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.container .logo .logo_link .logo.img {
  background-color: none;
}

.container .logo .logo_link .logo_text {
  color: whitesmoke;
}

.container .logo .logo_link .color1 {
  color: palevioletred;
}

.container .logo .logo_link .color2 {
  color: purple;
}

.container .logo .logo_link .color3 {
  color: #0a9396ff;
}

.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100% - (5rem + 6px));
  width: auto;
  z-index: 2500;
  -webkit-transition: padding 0.2s;
  transition: padding 0.2s;
  overflow: hidden;
  padding-bottom: 5rem;
  background-color: #231d1d;
}

.container .content.resize-settings {
  padding-left: 20rem;
}

.container .content .canvas_container {
  position: relative;
  width: 70%;
  height: 50vh;
  background-color: black;
  border: 3px ridge gray;
  border-radius: 10px;
  margin: auto 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0.1rem 0 0.3rem black, 0 0.1rem 0.3rem black, -0.1rem 0 0.3rem black, 0 -0.1rem 0.3rem black;
          box-shadow: 0.1rem 0 0.3rem black, 0 0.1rem 0.3rem black, -0.1rem 0 0.3rem black, 0 -0.1rem 0.3rem black;
}

.container .content .canvas_container.fullscreen {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
}

.container .content .canvas_container .canvas {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 10px;
}

.container .content .canvas_container .canvas_settings {
  cursor: pointer;
  border: none;
  color: rgba(245, 245, 245, 0.2);
  padding: 0.3rem 0.3rem;
  background: none;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}

.container .content .canvas_container .canvas_settings:hover {
  background-color: rgba(245, 245, 245, 0.2);
  color: rgba(245, 245, 245, 0.8);
}

.container .content .canvas_container .canvas_settings:active {
  border-radius: 5px;
  -webkit-box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
          box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
}

.container .content .canvas_container .canvas_full {
  cursor: pointer;
  border: none;
  color: rgba(245, 245, 245, 0.2);
  padding: 0.3rem 0.3rem;
  background: none;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  z-index: 3000;
  bottom: 0.25rem;
  right: 0.25rem;
}

.container .content .canvas_container .canvas_full:hover {
  background-color: rgba(245, 245, 245, 0.2);
  color: rgba(245, 245, 245, 0.8);
}

.container .content .canvas_container .canvas_full:active {
  border-radius: 5px;
  -webkit-box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
          box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
}

.audioControls {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 5rem;
  z-index: 2500;
  border-top: 3px ridge gray;
  border-bottom: 3px ridge gray;
  -webkit-box-shadow: -0.1rem 0 0.3rem black;
          box-shadow: -0.1rem 0 0.3rem black;
  background-color: #050505ff;
  color: whitesmoke;
}

.audioControls .audioControls_info {
  position: absolute;
  left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.audioControls .audioControls_info .info_label {
  border-radius: 5px;
  background-color: darkgray;
  height: 4rem;
  width: 4rem;
}

.audioControls .audioControls_info .info_text {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.audioControls .audioControls_info .info_text .info_name {
  font-weight: 900;
  font-size: 1rem;
}

.audioControls .audioControls_info .info_text .info_artist {
  font-size: 0.75rem;
  color: rgba(186, 186, 186, 0.842);
}

.audioControls .audioControls_audioPlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 100%;
}

.audioControls .audioControls_audioPlayer .audioPlayer_src {
  visibility: none;
}

.audioControls .audioControls_audioPlayer .audioPlayer_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0.3rem;
}

.audioControls .audioControls_audioPlayer .audioPlayer_buttons .audioPlayer_prevIcon {
  cursor: pointer;
  border: none;
  padding: 0.3rem 0.3rem;
  background: none;
  border-radius: 5px;
  margin: auto 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.audioControls .audioControls_audioPlayer .audioPlayer_buttons .audioPlayer_prevIcon:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.audioControls .audioControls_audioPlayer .audioPlayer_buttons .audioPlayer_prevIcon:active {
  border-radius: 5px;
  -webkit-box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
          box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
}

.audioControls .audioControls_audioPlayer .audioPlayer_buttons .audioPlayer_playIcon {
  cursor: pointer;
  border: none;
  padding: 0.3rem 0.3rem;
  background: none;
  border-radius: 5px;
  margin: auto 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.audioControls .audioControls_audioPlayer .audioPlayer_buttons .audioPlayer_playIcon:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.audioControls .audioControls_audioPlayer .audioPlayer_buttons .audioPlayer_playIcon:active {
  border-radius: 5px;
  -webkit-box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
          box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
}

.audioControls .audioControls_audioPlayer .audioPlayer_buttons .audioPlayer_nextIcon {
  cursor: pointer;
  border: none;
  padding: 0.3rem 0.3rem;
  background: none;
  border-radius: 5px;
  margin: auto 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.audioControls .audioControls_audioPlayer .audioPlayer_buttons .audioPlayer_nextIcon:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.audioControls .audioControls_audioPlayer .audioPlayer_buttons .audioPlayer_nextIcon:active {
  border-radius: 5px;
  -webkit-box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
          box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
}

.audioControls .audioControls_audioPlayer .audioPlayer_timeSliderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.audioControls .audioControls_audioPlayer .audioPlayer_timeSliderContainer .audioPlayer_lengthSlider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  background: transparent;
  margin: 0 0.5rem;
}

.audioControls .audioControls_audioPlayer .audioPlayer_timeSliderContainer .audioPlayer_cTime,
.audioControls .audioControls_audioPlayer .audioPlayer_timeSliderContainer .audioPlayer_dTime {
  font-size: 0.7rem;
  font-weight: 700;
}

.audioControls .audioControls_audioPlayer .audioPlayer_timeSliderContainer .audioPlayer_lengthSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 0.9rem;
  width: 0.25rem;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  margin-left: -0.2rem;
  margin-top: -0.3rem;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.audioControls .audioControls_audioPlayer .audioPlayer_timeSliderContainer .audioPlayer_lengthSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.2rem;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0.3rem #b6b6b6;
          box-shadow: 0 0 0.3rem #b6b6b6;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 0;
}

.audioControls .audioControls_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0.5rem;
}

.audioControls .audioControls_buttons .audio-btn {
  margin: 0 auto 1em;
  padding: 0.8rem;
}

.audioControls .audioControls_buttons .upload-btm {
  margin: 0;
  color: white;
  background: #050505ff;
  border-radius: 5px;
  padding: 0.3rem;
  border: inset 1px white;
  margin: auto 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.audioControls .audioControls_buttons .upload-btm:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.audioControls .audioControls_buttons .upload-btm:active {
  border-radius: 5px;
  border: 1px solid white;
  -webkit-box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
          box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
}

.audioControls .audioControls_buttons .mic-btn {
  cursor: pointer;
  padding: 0.3rem;
  margin: auto 0.5rem;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: inset 0.1rem 0 0.1rem rgba(102, 102, 102, 0.651), inset 0 0.1rem 0.1rem rgba(102, 102, 102, 0.651), inset 0 -0.1rem 0.1rem rgba(38, 38, 38, 0.692), inset -0.1rem 0 0.1rem rgba(38, 38, 38, 0.692);
          box-shadow: inset 0.1rem 0 0.1rem rgba(102, 102, 102, 0.651), inset 0 0.1rem 0.1rem rgba(102, 102, 102, 0.651), inset 0 -0.1rem 0.1rem rgba(38, 38, 38, 0.692), inset -0.1rem 0 0.1rem rgba(38, 38, 38, 0.692);
}

.audioControls .audioControls_buttons .mic-btn:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.audioControls .audioControls_buttons .mic-btn:active {
  -webkit-box-shadow: inset 0.2rem 0 0.1rem rgba(38, 38, 38, 0.692), inset 0 0.2rem 0.1rem rgba(38, 38, 38, 0.692), inset 0 -0.2rem 0.1rem rgba(102, 102, 102, 0.651), inset -0.2rem 0 0.1rem rgba(102, 102, 102, 0.651);
          box-shadow: inset 0.2rem 0 0.1rem rgba(38, 38, 38, 0.692), inset 0 0.2rem 0.1rem rgba(38, 38, 38, 0.692), inset 0 -0.2rem 0.1rem rgba(102, 102, 102, 0.651), inset -0.2rem 0 0.1rem rgba(102, 102, 102, 0.651);
}

.audioControls .audioControls_buttons .mic-btn.active {
  background-color: rgba(199, 0, 0, 0.4);
  -webkit-box-shadow: inset 0.2rem 0 0.1rem rgba(20, 20, 20, 0.692), inset 0 0.2rem 0.1rem rgba(38, 38, 38, 0.692), inset 0 -0.1rem 0.1rem rgba(77, 77, 77, 0.651), inset -0.1rem 0 0.1rem rgba(77, 77, 77, 0.651);
          box-shadow: inset 0.2rem 0 0.1rem rgba(20, 20, 20, 0.692), inset 0 0.2rem 0.1rem rgba(38, 38, 38, 0.692), inset 0 -0.1rem 0.1rem rgba(77, 77, 77, 0.651), inset -0.1rem 0 0.1rem rgba(77, 77, 77, 0.651);
}

.audioControls .audioControls_buttons .queue-btn {
  cursor: pointer;
  border: none;
  padding: 0.3rem 0.3rem;
  background: none;
  border-radius: 5px;
  margin: auto 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.audioControls .audioControls_buttons .queue-btn:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.audioControls .audioControls_buttons .queue-btn:active {
  border-radius: 5px;
  -webkit-box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
          box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
}

.audioControls_queueList {
  height: calc(100% - 5rem);
  width: 20rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  bottom: 5rem;
  right: 0;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
}

.audioControls_queueList.closed {
  bottom: -100%;
}

.audioControls_queueList .queueList_queueElement {
  cursor: pointer;
  width: 100%;
  height: 5rem;
  display: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset -0.1rem 0 0.1rem rgba(102, 102, 102, 0.651);
          box-shadow: inset -0.1rem 0 0.1rem rgba(102, 102, 102, 0.651);
}

.audioControls_queueList .queueList_queueElement .queueElement_song {
  font-weight: 900;
  font-size: 0.75rem;
  color: whitesmoke;
}

.audioControls_queueList .queueList_queueElement:hover {
  background-color: rgba(245, 245, 245, 0.1);
}

.content_modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 150;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.4);
}

.content_modal.modal--close {
  visibility: hidden;
}

.content_modal .modal_form {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name colorp" "size colorp" "form colorp" " button button";
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70%;
  width: 50%;
  background-color: #231d1d;
  border-radius: 10px;
  -webkit-box-shadow: inset 0.1rem 0.1rem 1rem rgba(255, 254, 254, 0.2), inset -0.2rem -0.2rem 1rem rgba(0, 0, 0, 0.99);
          box-shadow: inset 0.1rem 0.1rem 1rem rgba(255, 254, 254, 0.2), inset -0.2rem -0.2rem 1rem rgba(0, 0, 0, 0.99);
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

.content_modal .modal_form .modal_nameP {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_modal .modal_form .modal_sizeP {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: size;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_modal .modal_form .modal_formP {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: form;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_modal .modal_form .modal_colorP {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: colorp;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_modal .modal_form .modal_input--text {
  border-radius: 10px;
  padding: 0.3rem 0.8rem;
  font-size: 1.2rem;
  width: 50%;
  outline-style: none;
}

.content_modal .modal_form .modal_btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: button;
  font-weight: 700;
  margin: 0 auto;
  padding: 1rem 4rem;
  border-radius: 10px;
  overflow-x: hidden;
  border: 1px groove gray;
  -webkit-box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(184, 184, 184, 0.9), inset -0.1rem -0.1rem 0.5rem rgba(0, 0, 0, 0.99);
          box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(184, 184, 184, 0.9), inset -0.1rem -0.1rem 0.5rem rgba(0, 0, 0, 0.99);
}

.content_modal .modal_form .modal_btn:hover {
  -webkit-box-shadow: inset -0.1rem -0.1rem 0.5rem rgba(184, 184, 184, 0.9), inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.99);
          box-shadow: inset -0.1rem -0.1rem 0.5rem rgba(184, 184, 184, 0.9), inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.99);
}

.settings {
  width: 20rem;
  height: calc(100% - 5rem);
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505ff;
  z-index: 1000;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-shadow: 0.05rem 0 0.4rem rgba(255, 255, 255, 0.295);
          box-shadow: 0.05rem 0 0.4rem rgba(255, 255, 255, 0.295);
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
  margin-left: 0;
}

.settings.collapsed {
  margin-left: -100%;
}

.settings::-webkit-scrollbar {
  width: 0.3rem;
}

.settings::-webkit-scrollbar-track {
  background-color: rgba(227, 227, 227, 0.2);
  border-radius: 100px;
}

.settings::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0368a), color-stop(99%, #708ad4));
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  -webkit-box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
          box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}

.settings .settings_visualControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 4rem * 2);
  margin: 0 auto;
}

.settings .settings_visualControls .settings_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

.settings .settings_visualControls .settings_slider .label {
  color: white;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.3rem;
}

.settings .settings_visualControls .settings_slider .slider {
  width: 100%;
  margin: 1rem 0;
}

.settings .settings_visualControls .settings_slider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  border: 1px solid #000000;
  height: 0.9rem;
  width: 0.25rem;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  margin-left: -0.2rem;
  margin-top: -0.3rem;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.settings .settings_visualControls .settings_slider .slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.2rem;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0.3rem #b6b6b6;
          box-shadow: 0 0 0.3rem #b6b6b6;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 0;
}

.settings .settings_visualControls .settings_slider .switchBtn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.settings .settings_visualControls .settings_slider .switchBtn .switch_span {
  display: inline-block;
  color: whitesmoke;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.settings .settings_visualControls .settings_slider .switchBtn .switch_check {
  position: absolute;
  right: 0;
  z-index: 10;
  opacity: 0;
  width: 3.5rem;
  height: 1.8rem;
  margin: 0;
  border-radius: 15px;
  cursor: pointer;
}

.settings .settings_visualControls .settings_slider .switchBtn .switch_check:checked + .switch_button::before {
  -webkit-transform: translateX(1.6rem);
          transform: translateX(1.6rem);
}

.settings .settings_visualControls .settings_slider .switchBtn .switch_button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #050505ff;
  border: 0.15rem solid white;
  width: 3.5rem;
  height: 1.8rem;
  border-radius: 15px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.settings .settings_visualControls .settings_slider .switchBtn .switch_button::before {
  content: "";
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  background: whitesmoke;
  border-radius: 50%;
  top: 0.15rem;
  bottom: 0.15rem;
  left: 0.15rem;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.settings .settings_logo {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7rem;
  z-index: 50;
  background-color: #050505ff;
  -webkit-box-shadow: 0 -0.2rem 0.8rem whitesmoke;
          box-shadow: 0 -0.2rem 0.8rem whitesmoke;
}

.settings .patterns_buttons {
  margin-top: 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings .patterns_label {
  color: whitesmoke;
  margin-left: 4rem;
  font-size: 1.3rem;
}

.settings .setting_addPattern {
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  width: auto;
  min-width: 6rem;
  max-width: 6rem;
  color: black;
  font-weight: 700;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  overflow-x: hidden;
  cursor: pointer;
  border: 1px groove whitesmoke;
  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem #b8b8b8, -0.1rem -0.1rem 0.3rem #949090;
          box-shadow: 0.1rem 0.1rem 0.3rem #b8b8b8, -0.1rem -0.1rem 0.3rem #949090;
}

.settings .setting_addPattern:hover {
  background: whitesmoke;
}

.settings .setting_addPattern:active {
  -webkit-box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
          box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
}

.settings .settings_label {
  background-color: #050505ff;
  display: inline-block;
  width: auto;
  min-width: 6rem;
  max-width: 6rem;
  color: whitesmoke;
  font-weight: 700;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  overflow-x: hidden;
  border: 1px groove whitesmoke;
  cursor: pointer;
  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem #b8b8b8, -0.1rem -0.1rem 0.3rem #949090;
          box-shadow: 0.1rem 0.1rem 0.3rem #b8b8b8, -0.1rem -0.1rem 0.3rem #949090;
}

.settings .settings_label:hover {
  background: rgba(245, 245, 245, 0.3);
}

.settings .settings_label:active {
  -webkit-box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
          box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
}

.settings .settings_label.selected {
  background-color: rgba(221, 161, 221, 0.6);
  -webkit-box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
          box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4), inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4), inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4), inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
}

.material-icons.md-bg {
  font-size: 2rem;
}

.material-icons.md-mg {
  font-size: 1.3rem;
}
/*# sourceMappingURL=style.css.map */