.audioControls {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: $audio-controls-height;
    z-index: 2500;
    box-shadow: -0.1rem 0 0.3rem rgb(182, 182, 182);
    background-color: $rich-black-fogra-39;
    color: whitesmoke;
    .audioControls_info {
        position: absolute;
        left: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .info_label {
            border-radius: 5px;
            background-color: darkgray;
            height: 4rem;
            width: 4rem;
        }
        .info_text {
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            .info_name {
                font-weight: $f-black;
                font-size: 1rem;
            }
            .info_artist {
                font-size: 0.75rem;
                color: hsla(0, 0%, 73%, 0.842);
            }
        }
    }
    .audioControls_audioPlayer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 100%;
        .audioPlayer_src {
            visibility: none;
        }
        .audioPlayer_buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-bottom: 0.3rem;
            .audioPlayer_prevIcon {
                @include button-1;
            }
            .audioPlayer_playIcon {
                @include button-1;
            }
            .audioPlayer_nextIcon {
                @include button-1;
            }
        }

        .audioPlayer_timeSliderContainer {
            display: flex;
            flex-direction: row;
            width: 100%;
            .audioPlayer_lengthSlider {
                appearance: none;
                width: 100%;
                background: transparent;
                margin: 0 0.5rem;
            }
            .audioPlayer_cTime,
            .audioPlayer_dTime {
                font-size: 0.7rem;
                font-weight: $f-bold;
            }
            .audioPlayer_lengthSlider::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: 1px solid #000000;
                height: 0.9rem;
                width: 0.25rem;
                border-radius: 5px;
                background: #ffffff;
                cursor: pointer;
                margin-left: -0.2rem;
                margin-top: -0.3rem;
                box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            }
            .audioPlayer_lengthSlider::-webkit-slider-runnable-track {
                width: 100%;
                height: 0.2rem;
                cursor: pointer;
                box-shadow: 0 0 0.3rem rgb(182, 182, 182);
                background: rgba(255, 255, 255, 0.5);
                border-radius: 5px;
                margin: 0;
            }
        }
    }
    .audioControls_buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0.5rem;
        .audio-btn {
            margin: 0 auto 1em;
            padding: 0.8rem;
        }
        .upload-btm {
            margin: 0;
            color: white;
            background: $rich-black-fogra-39;
            border-radius: 5px;
            padding: 0.3rem;
            border: inset 1px white;
            margin: auto 0.5rem;
            user-select: none;
            &:hover {
                background-color: rgba(245, 245, 245, 0.2);
            }
            &:active {
                border-radius: 5px;
                border: 1px solid white;
                box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4),
                    inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4),
                    inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4),
                    inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
            }
        }
        .mic-btn {
            @include button-2;
            &.active {
                background-color: hsla(0, 100%, 39%, 0.4);
                box-shadow: inset 0.2rem 0 0.1rem hsla(0, 0%, 8%, 0.692),
                    inset 0 0.2rem 0.1rem hsla(0, 0%, 15%, 0.692),
                    inset 0 -0.1rem 0.1rem hsla(0, 0%, 30%, 0.651),
                    inset -0.1rem 0 0.1rem hsla(0, 0%, 30%, 0.651);
            }
        }
        .queue-btn {
            @include button-1;
        }
    }
}
