body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $f-family;
    font-weight: $f-regular;
    font-size: 16px;
}
.container {
    height: 100%;
    display: flex;
    .logo_link {
        text-decoration: none;
        position: fixed;
        margin: auto auto;
        height: 7rem;
        width: $nav-widht;
        text-align: center;
        display: flex;
        align-items: center;
        left: 6rem;
        top: 0;
        overflow-x: visible;
        z-index: 100;
        font-weight: $f-bold;
        font-size: 1.5rem;
        .logo.img {
            background-color: none;
        }
        .logo_text {
            color: whitesmoke;
        }
        .color1 {
            color: palevioletred;
        }
        .color2 {
            color: purple;
        }
        .color3 {
            color: $viridian-green;
        }
    }
    .navbar {
        width: $nav-widht;
        height: 100%;
        position: relative;
        background-color: $rich-black-fogra-39;
        transition: width 0.3s;
        z-index: 50;
        box-shadow: 0.05rem 0 0.4rem rgba(255, 255, 255, 0.295);
        &.collapsed {
            width: $collapsed-nav-width;
        }
        &.collapsed .navbar_label {
            display: none;
        }
        .navbar_buttons {
            padding-top: 7rem;
        }
        .navbar_link {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            text-decoration: none;
            color: white;
            .navbar_icon {
                width: $collapsed-nav-width;
                height: $collapsed-nav-width;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
            }
            .navbar_label {
                flex-shrink: 0;
                background-color: whitesmoke;
                color: black;
                font-weight: $f-bold;
                margin: 0.5rem 0 0.5rem;
                padding: 1rem 4rem;
                border-radius: 10px;
                overflow-x: hidden;
                border: 1px groove gray;
                box-shadow: 0.1rem 0.1rem 0.3rem rgb(184, 184, 184),
                    -0.1rem -0.1rem 0.3rem rgb(148, 144, 144);
                &:hover {
                    box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4),
                        inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4),
                        inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4),
                        inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
                }
            }
        }
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: inherit;
        width: 100%;
        transition: width 0.3s;
        padding: 0;
        // padding-left: $nav-widht;
        overflow-y: auto;
        background-color: $rich-black-fogra-39-2;
        .canvas {
            width: 70%;
            height: 50vh;
            background-color: black;
            border: 3px ridge gray;
            margin-bottom: 2rem;
            border-radius: 10px;
            box-shadow: 0.1rem 0 0.3rem black, 0 0.1rem 0.3rem black,
                -0.1rem 0 0.3rem black, 0 -0.1rem 0.3rem black;
            // filter: blur(1.5px);
        }
        .btn-list {
            bottom: 10vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: auto;
            height: auto;
            padding: 1.5rem 10rem;
            margin: 0 auto;
            box-shadow: 0.1rem 0 0.3rem black, 0 0.1rem 0.3rem black,
                -0.1rem 0 0.3rem black, 0 -0.1rem 0.3rem black;
            border-radius: 10px;
            background-color: rgba(47, 79, 79, 0.2);
            z-index: 30;
            .audio-btn {
                margin: 0 auto 1em;
                padding: 0.8rem;
            }
            .upload-btm {
                margin: 0 auto;
                padding: 0.8rem;
                color: white;
            }
            .mic-btn {
                font-weight: $f-bold;
                font-size: 1.2rem;
                padding: 1rem 2rem;
                border-radius: 10px;
                overflow-x: hidden;
                border: 1px groove gray;
                box-shadow: 0.1rem 0.1rem 0.3rem rgb(184, 184, 184),
                    -0.1rem -0.1rem 0.3rem rgb(148, 144, 144);
                &:hover {
                    box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4),
                        inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4),
                        inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4),
                        inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
                }
                & .mic-on {
                    background-color: red;
                }
            }
        }
    }
}
