.settings {
    width: $nav-widht;
    height: calc(100% - #{$audio-controls-height});
    position: absolute;
    top: 0;
    left: 0;
    background-color: $rich-black-fogra-39;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0.05rem 0 0.4rem rgba(255, 255, 255, 0.295);
    transition: margin 0.2s;
    margin-left: 0;

    &.collapsed {
        margin-left: -100%;
    }

    &::-webkit-scrollbar {
        width: 0.3rem;
    }

    &::-webkit-scrollbar-track {
        background-color: hsla(0, 0%, 89%, 0.2);
        border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
        box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    }

    .settings_visualControls {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - #{$collapsed-nav-width} * 2);
        margin: 0 auto;

        .settings_slider {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 1rem 0;

            .label {
                color: white;
                align-self: flex-start;
                font-size: 1.3rem;
            }

            .slider {
                width: 100%;
                margin: 1rem 0;

                &::-webkit-slider-thumb {
                    appearance: none;
                    border: 1px solid #000000;
                    height: 0.9rem;
                    width: 0.25rem;
                    border-radius: 5px;
                    background: #ffffff;
                    cursor: pointer;
                    margin-left: -0.2rem;
                    margin-top: -0.3rem;
                    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
                }

                &::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 0.2rem;
                    cursor: pointer;
                    box-shadow: 0 0 0.3rem rgb(182, 182, 182);
                    background: rgba(255, 255, 255, 0.5);
                    border-radius: 5px;
                    margin: 0;
                }
            }

            .switchBtn {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 1rem 0;

                .switch_span {
                    display: inline-block;
                    color: whitesmoke;
                    margin-right: 0.5rem;
                    font-size: 0.8rem;
                }

                .switch_check {
                    position: absolute;
                    right: 0;
                    z-index: 10;
                    opacity: 0;
                    width: 3.5rem;
                    height: 1.8rem;
                    margin: 0;
                    border-radius: 15px;
                    cursor: pointer;

                    &:checked+.switch_button::before {
                        transform: translateX(1.6rem);
                    }
                }

                .switch_button {
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    background: $rich-black-fogra-39;
                    border: 0.15rem solid white;
                    width: 3.5rem;
                    height: 1.8rem;
                    border-radius: 15px;
                    transition: transform 0.4s;

                    &::before {
                        content: "";
                        position: absolute;
                        height: 1.5rem;
                        width: 1.5rem;
                        background: whitesmoke;
                        border-radius: 50%;
                        top: 0.15rem;
                        bottom: 0.15rem;
                        left: 0.15rem;
                        transition: transform 0.4s;
                    }
                }
            }
        }
    }

    .settings_logo {
        position: sticky;
        top: 0;
        width: 100%;
        height: $logo-height;
        z-index: 50;
        background-color: $rich-black-fogra-39;
        box-shadow: 0 -0.2rem 0.8rem whitesmoke;
    }

    .patterns_buttons {
        margin-top: 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .patterns_label {
        color: whitesmoke;
        margin-left: $collapsed-nav-width;
        font-size: 1.3rem;
    }

    .setting_addPattern {
        background-color: hsla(0, 0%, 100%, 0.8);
        display: inline-block;
        width: auto;
        min-width: 6rem;
        max-width: 6rem;
        color: black;
        font-weight: $f-bold;
        text-align: center;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: 15px;
        overflow-x: hidden;
        cursor: pointer;
        border: 1px groove whitesmoke;
        box-shadow: 0.1rem 0.1rem 0.3rem rgb(184, 184, 184),
            -0.1rem -0.1rem 0.3rem rgb(148, 144, 144);

        &:hover {
            background: hsla(0, 0%, 96%, 1);
        }

        &:active {
            box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4),
                inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4),
                inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4),
                inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
        }
    }

    .settings_label {
        background-color: $rich-black-fogra-39;
        display: inline-block;
        width: auto;
        min-width: 6rem;
        max-width: 6rem;
        color: whitesmoke;
        font-weight: $f-bold;
        text-align: center;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: 15px;
        overflow-x: hidden;
        border: 1px groove whitesmoke;
        cursor: pointer;
        box-shadow: 0.1rem 0.1rem 0.3rem rgb(184, 184, 184),
            -0.1rem -0.1rem 0.3rem rgb(148, 144, 144);

        &:hover {
            background: hsla(0, 0%, 96%, 0.3);
        }

        &:active {
            box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4),
                inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4),
                inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4),
                inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
        }

        &.selected {
            background-color: hsla(300, 47%, 75%, 0.6);
            box-shadow: inset 0.4rem 0 0.3rem rgba(15, 15, 15, 0.4),
                inset 0 0.4rem 0.3rem rgba(15, 15, 15, 0.4),
                inset 0 -0.4rem 0.3rem rgba(131, 129, 129, 0.4),
                inset -0.4rem 0 0.3rem rgba(131, 129, 129, 0.4);
        }
    }
}