// Font Variables

$f-family: "Nunito Sans", sans-serif;
$f-light: 200;
$f-regular: 400;
$f-bold: 700;
$f-black: 900;

// Color Palette

$rich-black-fogra-39: #050505ff;
$rich-black-fogra-39-2: #231d1d;
$blue-sapphire: #005f73ff;
$viridian-green: #0a9396ff;
$middle-blue-green: #94d2bdff;
$gamboge: #ee9b00ff;
$alloy-orange: #ca6702ff;
$mahogany: #bb3e03ff;
$ruby-red: #9b2226ff;

//Size Variables

$nav-widht: 20rem;
$logo-height : 7rem;
$collapsed-nav-width: 4rem;
$audio-controls-height: 5rem;
$queue-list-height: calc(100% - #{$audio-controls-height})